body{
    font-family: sans-serif;
    background-image: url(SoundWaves.gif);
}


#wrapper {
    margin: 1em auto;
    width: 960px;
    border: 3px solid black;
    background-color: red;
    padding: 1em;
  }

  h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

header {
    background: black;
    color: whitesmoke;
    border: 0px solid limegreen;
    margin: 11px;
    padding-left: 22px;
    grid-column: span 3;
}

nav ul{
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    margin-bottom: 35px;
}

nav li{
    border: 5px solid gray;
    width: 155px;
    margin: 0px;
    margin-right: 25px;
    display: inline-block;
    background-color: black;
}

nav li a{
    color: rgb(214, 0, 0);
    text-decoration:solid;
    display: block;
    padding: 13px;
}

nav li a:hover{
    background-color: magenta;
}

  #Fdiv{
    text-align: center;
  }

  .Disclaimer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
  }
  